$redcolor: red;
.enquiry{ 
    padding: 26px 0 13px;
    .container{
        max-width: 97%;
        width: 100%;    
    }
    h2 {
        font-family: "Eveleth Dot";
        font-size: 16px;
        font-weight: 950;
        line-height: 22.14px;
        text-align: center;
        color: #feba30;
        border-bottom: 1px solid var(--BJS-Yellow, #FEBA30);
        width: fit-content;
        margin: 0 auto 12px;
        padding-bottom: 6px;
    }
    a{
        color: var(--bjs-dark-tone-copy, #24292C);
        font-family: "Gotham Light";
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        display: block;
        text-decoration: none;
        margin-bottom: 8px;
    
    }
    p{
        color: var(--BJS-Mid-Gray, #747E87);
        font-family: "Gotham Book";
        font-size: 13px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
    }
}   



/***********Responsive************/ 
@media only screen and (max-width:1300px) {
    .enquiry {
        a {
            font-size: 24px;
        }
        h2 {
            font-size: 15px;
            line-height: 18.14px;
            margin: 0 auto 10px;
            padding-bottom: 5px;
        }
    }
}
@media only screen and (max-width:1024px) {
    .enquiry {
        a {
            font-size: 22px;
        }    
    }
}
@media only screen and (max-width:820px) {
    .enquiry {
        a {
            font-size: 20px;
        } 
    }
}
@media only screen and (max-width:480px) {
    .enquiry {
        a {
            font-size: 18px;
        }
    }
}
