@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken = 127F3C16-259B-4890-85B3-5E9450453BA4
//registry.npmjs.org/:_authToken = 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
scope = "@bjsdistribution"