.testimonialslider {
    ul {
        text-align: left;
        height: fit-content;
        .slick-active {
            background: #feba30 !important;
            button {
                height:100%;
                width: 100%;
            }
        }
        li {
            background: #c5d1dc;
            border-radius: 50px !important;
            overflow: hidden;
            width: 42px !important;
            height: 3px !important;
        }
    }
    .testimonialMain {
        padding-top: 40px;
        h3 {
            color: #24292C;
            font-family: "Gotham Medium";
            font-size: 17px;
            font-style: italic;
            font-weight: 500;
            line-height: 17px;
            margin-bottom: 15px;
        }
        .testimonialContent {
            img {
                width: 113px !important;
                margin-bottom: 25px;
            }
            .testimonialDescription {
                color: #24292C;
                font-family: "Gotham Book";
                font-size: 15px;
                font-style: italic;
                font-weight: 400;
                line-height: 22px;
                margin-bottom: 25px;
            }
            .testimonialAuthor {
                color: var(--BJS-Mid-Gray, #747e87);
                font-family: "Gotham Book";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin: 0 0 40px 0;
            }
        }
        .trustpilot {
            display: flex;
            flex-direction: column;
            align-items: end;
            img {
                width: 163px !important;
                margin-bottom: 10px;
            }
            .trustRating {
                img {
                    width: 100% !important;
                }
            }
            p {
                font-family: Gotham Book;
                font-size: 14px;
                font-weight: 400;
                line-height: 13.4px;
            }
        }
    }
    .slick-next {
        right: 0;
        top: -43px;
        &:before {
            content: "" !important;
            background-image: url("/../public/images/testimonialArrownext.png");
            width: 22px;
            height: 44px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    .slick-prev {
        top: -43px;
        position: absolute !important;
        left: 96%;
        &:before {
            content: "" !important;
            background-image: url("/../public/images/testimonialArrowprev.png");
            width: 22px;
            height: 44px;
            display: block;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}


/****************responsive******************/ 
@media only screen and (max-width:1300px) {
    .testimonialslider {
        .testimonialMain {
            .testimonialContent {
                img {
                    width: 100px !important;
                    margin-bottom: 20px;
                }
                .testimonialDescription {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 20px;
                }
            }
            h3 {
                font-size: 16px;
                margin-bottom: 12px;
            }
            .trustpilot {
                img {
                    width: 140px !important;
                    margin-bottom: 10px;
                }              
            } 
        }
        .slick-next:before, .slick-prev:before {
            width: 18px;
            height: 40px;
        }
    }
}

@media only screen and (max-width:1024px) {
    .testimonialslider {
        .slick-prev {
            left: 94%;
        }
    }
}
@media only screen and (max-width:768px) {
    .testimonialslider {
        .testimonialMain {
            padding-top: 30px;
        }
    }
}
@media only screen and (max-width:668px) {
    .testimonialslider {
        .slick-prev {
            left: 90%;
        }
        .testimonialMain {
            .trustpilot {
                align-items: flex-start;
            }
        }
    }
}
@media only screen and (max-width:480px) {
    .testimonialslider {
        .slick-prev {
            top: -50px;
            left: 85%;
        }
        .slick-next {
            top: -50px;
        }
    }
}
@media only screen and (max-width:350px) {
    .testimonialslider {
        .slick-prev {
            top: -50px;
            left: 80%;
        }
        .testimonialMain {
            h3 {
                font-size: 15px;
                margin-bottom: 10px;
            }
        }
    }
}
