$redcolor : red;

.head {
    font-size: 20px;

    .ppp {
        font-size: 50px;
        color: $redcolor;
    }
}




.our-values{
  
  .namedAfter{
    background-image: url("/../public/images/about-namedBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 48px 0 60px;
    .container{
        max-width: 1090px;    
    }
    .row {
        margin: 68px 0 140px;
    }
    h2.pageTittle{
        color: #2C3033;
        font-family: "Brixton_Wood_PERSONAL_USE_ONLY Vector";
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .namedMain {
        gap:40px;
        align-items: center;
      h3{
        color: var(--BJS-Mid-Gray, #747E87);
        font-family: "Gotham Book";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 33px;
      }
      h4{
        color: #24292C;
        font-family: "Gotham Medium";
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 35px;
        margin: 0;
        strong{
          color: var(--BJS-Yellow, #FEBA30);
          font-family: "Gotham Medium";
          font-weight: 500;  
        }
      }
    }
    .rightCol{
        padding-left: 38px;
        border-left: 1px solid #DCDCDC;
        padding-right: 0;
        p{
            color: #24292C;
            font-family: "Gotham Book";
            font-size: 14px;
            margin: 0;
            font-weight: 400;
            line-height: 18px;        
        }
        p.based {
            margin: 14px 0 20px;
            font-style: italic;
        }
    }
  } 

  .niceDay{
    background-color: #72c8f0;
    padding-top: 5px;
    .container{
        max-width: 1720px;
      .row{
        align-items: center;
        width: 100%;
        .col-md-9{
            padding-left:22px;
        }
        .col-md-3{
            padding-left:35px;
        }
      }
    }
  }

.partnersMAin {
    background: #fff;
}
.newsPartners {
    max-width: 1700px;
    margin: 0 auto;
    padding: 55px 0;
    width: 90%;

    h2 {
        color: #919495;
        font-family: "Eveleth Dot";
        font-size: 20px;
        font-style: normal;
        font-weight: 950;
        line-height: normal;
        position: relative;
        margin: 0 auto ;
        &:before {
            content: "";
            position: absolute;
            width: 43%;
            background: #d1d6d8;
            height: 1px;
            left: 0;
            top: 12px;
        }
        &:after {
            content: "";
            position: absolute;
            width: 43%;
            background: #d1d6d8;
            height: 1px;
            right: 0;
            top: 12px;
        }
    }
}





}



@media screen and (max-width:1710px){

.about-us{
.niceDay{

  .container{
    max-width: 90%;
    .row{
        img{
        width: 100%;
        }
    }
  }
}


}

}


@media screen and (max-width:1600px) {

.our-values {
  .namedAfter {
    h2.pageTittle{
      font-size: 48px;
    }
    .row {
      margin: 50px 0 100px;
    }
    
  }
  .niceDay {
    .container {

      .row {
        .col-md-9 {
          padding-left: 50px;
          img{
          width: 90%;
          }
        }

      }
    }

  }
.newsPartners {
  padding: 45px 0;
  h2{
    font-size: 18px;
    &:before{
      width: 42%;
    }
    &:after{
      width: 42%;
    }
  }

}
}
  
}


@media screen and (max-width:1450px) {
.our-values {
  .namedAfter {
    .row {
      margin: 50px 0;
    }
    .namedMain{
      h3{
        margin-bottom: 25px;
      }
      h4 {
        font-size: 32px;
        line-height: 32px;
      }

    }
  }
  .niceDay {
    .container {
      .row {
        .col-md-3 img {
          width: 85%;
        }
        .col-md-9 img {
          width: 85%;
        }
      }
    }
  }
}
  
}


@media screen and (max-width:1300px) {

.our-values {
  .namedAfter {
    padding: 35px 0 40px;
    .container {
      max-width: 950px;
    }
    h2.pageTittle {
      font-size: 40px;
    }
    .namedMain {
      gap: 28px;
      img{
        width: 180px;
      }
      h3 {
        font-size: 15px;
        margin-bottom: 18px;
      }
      h4 {
        font-size: 28px;
        line-height: 28px;
      }
    }
    .row {
      margin: 35px 0;
    }

  }
}
  
}



@media screen and (max-width:1024px) {
.our-values {
  .namedAfter {
    padding: 35px 0 30px;
    .container {
      max-width: 800px;
    }
    h2.pageTittle {
      font-size: 35px;
    }
    .namedMain {
      gap: 25px;
      img {
        width: 145px;
      }
      h3 {
        font-size: 14px;
        margin-bottom: 15px;
      }
      h4 {
        font-size: 25px;
        line-height: 25px;
      }
    }
    .rightCol {
      padding-left: 25px;
      p {
        font-size: 13px;
        line-height: 17px;
      }
      p.based {
        margin: 10px 0 15px;
      }
    }
  }
  .newsPartners {
    padding: 38px 0;
    h2{
      &:after {
        width: 39%;
      }
      &:before {
        width: 39%;
      }
    }
  }
}

  
}



@media screen and (max-width:825px) {

.our-values {
  .namedAfter {
    padding: 30px 0 22px;
    .container {
      max-width: 90%;
    }
    .namedMain {
      gap: 20px;
      img {
        width: 130px;
      }
      h3 {
        font-size: 13px;
        margin-bottom: 10px;
      }
      h4 {
        font-size: 23px;
        line-height: 25px;
      }
    }
    .row {
      margin: 30px 0;
    }
    .rightCol {
      padding-left: 20px;
      p.based {
        margin: 5px 0 10px;
      }
    }
  }
  .newsPartners {
    padding: 30px 0;
    h2 {
      font-size: 16px;
    &:before {
      width: 37%;
    }
    &:after {
      width: 37%;
    }
  }
  }
}
  
} 
@media screen and (max-width:768px) {

.our-values {
  .namedAfter {
    padding: 25px 0 18px;
    .namedMain {
      margin-bottom: 15px;
      img {
        width: 100px;
      }
    }
    .row {
      margin: 22px 0;
    }
  }
  .niceDay {
    .container {
      .row {
        .col-md-9 {
          text-align: center !important;
          padding: 18px;
        }
        .col-md-3 {
          padding: 0;
          text-align: center !important;
          img {
            width: auto;
          }
        }
      }
    }
  }
}
  
}


@media screen and (max-width:500px) {

.our-values {
  .namedAfter {
    padding: 22px 0 10px;
    h2.pageTittle {
      font-size: 30px;
    }
    .namedMain {
      img {
        width: 80px;
      }
      h3 {
        margin-bottom: 5px;
      }
      h4 {
        font-size: 20px;
        line-height: 23px;
      }
    }
    .rightCol {
      padding-left: 0px;
    }
  }
  .niceDay {
    padding-top: 0;
    .container {
      .row {
        .col-md-3 {
          img {
            width: 250px;
          }
        }
      }
    }
  }
  .newsPartners {
    padding: 25px 0;
    h2{
      font-size: 15px;
      &:before {
        width: 30%;
      }
      &:after {
        width: 30%;
      }
    }
  }
}


}