
.charity{
    .underSky{
        background-image: url("/../public/images/charityBg.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        padding: 45px 0 85px;
        .container{
            max-width: 1300px;
        }
        h2.pageTittle{
            color: #2c3033;
            font-family: "Brixton_Wood_PERSONAL_USE_ONLY Vector";
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;     
            margin-bottom: 18px;   
        } 
        h3{
            color: var(--bjs-dark-tone-copy, #24292C);
            font-family: "Gotham Book";
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            margin: 38px 0 18px;
        }
        p{
            color: var(--bjs-dark-tone-copy, #24292C);
            font-family: "Gotham Book";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px; 
            margin: 0 0 18px;
        } 
        .learn-btn{
            margin-top: 35px;
            width: fit-content;
            border-bottom: 2px solid var(--BJS-Yellow, #FEBA30);
            padding-bottom: 3px;
            button{
                color: var(--bjs-dark-tone-copy, #24292C);
                font-family: "Gotham Bold";
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                background-color: transparent;
                border: none;
                padding: 0 40px 0 0;
                position: relative;
                &:after{
                    content:"";
                    background-image: url("/../public/images/learnbtnArrow.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 17px;
                    height: 9px;
                }
            }
        }
        .colmLeft{
            img{
                mix-blend-mode: darken;            
            }
        }
    } 

    .educate{
        background-image: url("/../public/images/educateBG1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding: 80px 0 95px;
        .container{
            max-width: 1000px;
        }
        h2{
            color: #FFF;
            text-align: center;
            font-family: 'Eveleth Dot';
            font-size: 60px;
            font-style: normal;
            font-weight: 950;
            line-height: normal;
            text-shadow: 0px 1px 3px #00000069;
        }
        p{
            color: #FFF;
            text-align: center;
            font-family: "Gotham Book";
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            max-width: 800px;
            margin: 12px auto 60px;
            text-shadow: 0px 1px 3px #00000069;
        }
    }

    .partnersMAin {
        background: #fff;
    }
    .newsPartners {
        max-width: 1700px;
        margin: 0 auto;
        padding: 55px 0;
        width: 90%;
    
        h2 {
            color: #919495;
            font-family: "Eveleth Dot";
            font-size: 20px;
            font-style: normal;
            font-weight: 950;
            line-height: normal;
            position: relative;
            margin: 0 auto ;
            &:before {
                content: "";
                position: absolute;
                width: 43%;
                background: #d1d6d8;
                height: 1px;
                left: 0;
                top: 12px;
            }
            &:after {
                content: "";
                position: absolute;
                width: 43%;
                background: #d1d6d8;
                height: 1px;
                right: 0;
                top: 12px;
            }
        }
    }

}



@media screen and (max-width:1600px) {

.charity{
    .newsPartners {
      padding: 45px 0;
      h2{
        font-size: 18px;
        &:before{
          width: 42%;
        }
        &:after{
          width: 42%;
        }
      }
    
    }
    .underSky {
        h2.pageTittle{
            font-size: 48px;
        }
        .container {
            max-width: 1200px;
        }
        .row{
            img{
                width: 100%;
            }
        }
    }
    .educate {
        h2{
            font-size: 48px;
        }

    }
}
      
}

@media screen and (max-width:1450px) {
.charity{
    .underSky {
        padding: 38px 0 65px;
        .container {
            max-width: 1100px;
        }
        h2.pageTittle {
            font-size: 40px;
        }
        h3 {
            font-size: 18px;
            line-height: 16px;
            margin: 30px 0 15px;
        }
        p {
            margin: 0 0 12px;
        }
        .learn-btn {
            margin-top: 25px;
            button{
                font-size: 13px;
                padding: 0 32px 0 0;
            }
        }
    }
    .educate {
        padding: 60px 0 80px;
        h2 {
            font-size: 40px;
        }
        .container {
            max-width: 900px;
        }
        p {
            font-size: 14px;
            line-height: 18px;
            max-width: 750px;
            margin: 10px auto 45px;
        }
        img{
            width: 100%;
        }
    }


}
    
}
@media screen and (max-width:1200px) {
.charity {
    .underSky {
        .container {
            max-width: 85%;
        }
    }
    .educate {
        .container {
            max-width: 75%;
        }
    }
}

}

@media screen and (max-width:1024px) {
.charity{
    .newsPartners {
        padding: 38px 0;
        h2{
        &:after {
            width: 39%;
        }
        &:before {
            width: 39%;
        }
        }
    }
    .underSky {
        padding: 35px 0 55px;
        h2.pageTittle {
            font-size: 35px;
        }
        h3 {
            font-size: 16px;
            line-height: 14px;
            margin: 22px 0 12px;
        }
        p {
            margin: 0 0 10px;
            line-height: 16px;
            font-size: 13px;
        }
        .learn-btn button {
            padding: 0 28px 0 0;
            &:after {
                width: 15px;
                height: 7px;
            }
        }
    }
    .educate {
        padding: 50px 0 70px;
        h2 {
            font-size: 35px;
        }
        p {
            max-width: 90%;
            margin: 8px auto 38px;
        }
    }
}
          
}


@media screen and (max-width:825px) {

.charity{
    .newsPartners {
        padding: 30px 0;
        h2 {
        font-size: 16px;
            &:before {
            width: 37%;
            }
            &:after {
            width: 37%;
            }
        }
    }
}
      
} 

@media screen and (max-width:768px) {
.charity {
    .underSky {
        padding: 35px 0 50px;
        .colmLeft{
            padding: 0 12px 40px !important;
        }
        .learn-btn {
            margin-top: 15px;
            padding-bottom: 2px;
        }
    }
    .educate {
        padding: 40px 0 58px;
        h2 {
            font-size: 28px;
        }
        p {
            font-size: 13px;
            line-height: 16px;
            margin: 5px auto 30px;
        }
    }
}
    
}

@media screen and (max-width:650px) {
.charity {
    .underSky {
        .container {
            max-width: 90%;
        }
    }
    .educate {
        .container {
            max-width: 85%;
        }
    }
}    
}
@media screen and (max-width:500px) {
.charity{
    .newsPartners {
        padding: 25px 0;
        h2{
          font-size: 15px;
          &:before {
            width: 30%;
          }
          &:after {
            width: 30%;
          }
        }
    }
    .underSky {
        padding: 30px 0 38px;
        h2.pageTittle {
            font-size: 30px;
        }
        h3 {
            font-size: 15px;
            line-height: 13px;
            margin: 19px 0 10px;
        }
        p {
            margin: 0 0 6px;
        }
        .learn-btn {
            margin-top: 12px;
        }
    }
    .educate {
        padding: 28px 0 40px;
        h2 {
            font-size: 22px;
            margin: 0;
        }
        p {
            max-width: 95%;
            margin: 5px auto 25px;
        }

    }
}
    
}

@media screen and (max-width:420px) {
.charity {
    .educate {
        .container {
            max-width: 90%;
        }
        h2 {
            font-size: 20px;
            line-height: 24px;
        }
    }
}
    
} 