.header .dropdown-menu-container {
  display: flex;
}

.header {
  padding: 8px 0;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px;
  .container {
    max-width: 1860px;
    nav.navbar {
      padding: 4px 0;
      .navbar-brand {
        img {
          display: block;
        }
      }
      .talktousfull {
        margin: 0 15px 0 10px;
      }
    }
    .bg-body-tertiary {
      background: #fff !important;
    }

    .mainNavigation {
      margin-right: 8px;
    }

    .mainNavigation {
      .custom-dropdown.dropdown {
        position: unset;
      }

      .dropdown-menu {
        padding: 0;
        right: 0;
        left: auto;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 30px;
        border-radius: 12px;
        overflow: hidden;
        .dropdown-menu-container {
          display: flex;

          .dropdown-items {
            padding: 66px 0px;
            display: flex;
            flex-direction: column;
            a {
              padding: 15px 45px 15px 43px;
              font-family: "Eveleth Dot";
              font-size: 14px;
              line-height: 22px;
              &:before {
                content: "\25CF";
                color: #feba30;
                font-weight: bold;
                display: inline-block;
                font-size: 20px;
                line-height: 1;
                margin-right: 20px;
              }
              &.active {
                background-color: transparent;
                color: #feba30;
              }
              &:hover {
                background-color: transparent;
                color: #feba30;
              }
            }
          }
        }
      }
      a.nav-link {
        font-family: Gotham Bold;
        font-size: 15px;
        line-height: 14.36px;
        text-align: left;
        color: #877b6f;
        padding: 10px 12px;
        &.dropdown-toggle {
          position: relative;
          &:hover {
            &:before {
              content: "";
              width: 100%;
              height: 65px;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
        }
        &.active {
          color: #feba30;
        }
        &:hover {
          color: #feba30;
        }
      }
    }
  }
  .dropdown-toggle::after {
    content: "┏";
    border: none;
    transform: rotate(224deg);
    padding-bottom: 2px;
    padding-right: 2px;
    vertical-align: baseline;
  }
}

@media screen and (min-width: 990px) {
  .header {
    .mainNavigation {
      .dropdown:hover .dropdown-menu {
        display: block;
      }
    }
  }
}
@media screen and (max-width: 1710px) {
  .header {
    .container {
      max-width: 98%;
    }
  }
}

@media screen and (max-width: 1600px) {
  .header {
    .container {
      .mainNavigation {
        a.nav-link {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .header {
    .container {
      .navbar-brand {
        img {
          width: 175px;
        }
      }
      .mainNavigation {
        a.nav-link {
          font-size: 13px;
          padding: 5px 12px;
          line-height: 11.36px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .header {
    .container {
      .mainNavigation {
        .dropdown-menu {
          width: 50%;
          .dropdown-menu-container {
            .dropdown-items {
              padding: 55px 0px;
              a {
                padding: 13px 40px 13px 40px;
                font-size: 13px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .container {
      .navbar-brand {
        order: 1;
      }

      button.navbar-toggler {
        order: 4;
      }
      .talktousfull {
        order: 2;
      }
      .cswitcher {
        order: 3;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .header {
    .container {
      #basic-navbar-nav {
        order: 5;
      }

      .mainNavigation {
        a.nav-link {
          font-size: 15px;
          padding: 8px 0px;
          line-height: 15.36px;
        }
        .dropdown-menu {
          width: fit-content;
          margin: 5px 0 15px;
          .dropdown-menu-container {
            .dropdown-items {
              padding: 25px 0px;
              a {
                padding: 10px 25px 10px 20px;
                font-size: 12px;
                line-height: 15px;
                &:before {
                  font-size: 17px;
                  margin-right: 12px;
                }
              }
            }
            .dropdown-image {
              width: 200px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 780px) {
  
}

@media screen and (max-width: 500px) {
  .header {
    .container {
      #basic-navbar-nav {
        position: fixed;
        left: 0;
        right: 0;
        top: 55px;
        background: #fff;
        padding: 20px 0 15px 10px;
        overflow: scroll;
        height: calc(100vh - 55px);
      }
      .navbar-brand {
        img {
          width: 150px;
        }
      }

      button.navbar-toggler {
        padding: 2px 3px;
      }
      .mainNavigation {
        a.nav-link {
          font-size: 16px;
          padding: 20px;
          line-height: 14.36px;
          border-bottom: 1px solid rgb(244, 239, 233);
          background: linear-gradient(
              rgb(249, 249, 249) 0%,
              rgb(255, 255, 255) 100%
            )
            0% 0% no-repeat padding-box padding-box transparent;

          &::after {
            position: absolute;
            right: 10px;
          }
        }
        .dropdown-menu {
          width: 100%;
          margin: 0;
          box-shadow: none;
          border-radius: 0;
          .dropdown-menu-container {
            align-items: center;
            .dropdown-items {
              width: 100%;
              padding: 0px;
              a {
                padding: 20px;
                font-size: 16px;
                line-height: 12px;
                border-bottom: 1px solid rgb(244, 239, 233);
                background: linear-gradient(
                    rgb(249, 249, 249) 0%,
                    rgb(255, 255, 255) 100%
                  )
                  0% 0% no-repeat padding-box padding-box transparent;
                font-family: Gotham Bold;
                font-weight: bold;
                color: #877b6f;
              }
            }
            .dropdown-image {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .header {
    .container {
      .navbar-brand {
        img {
          width: 125px;
        }
      }
    }
  }
}
