@import '~bootstrap/scss/bootstrap';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; 

@font-face {
    font-family: 'Gotham Book';
    src: url('fonts/Gotham-Book.woff2') format('woff2'),
        url('fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('fonts/Gotham-Light.woff2') format('woff2'),
        url('fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('fonts/Gotham-Bold.woff2') format('woff2'),
        url('fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('fonts/Gotham-Black.woff2') format('woff2'),
        url('fonts/Gotham-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('fonts/Gotham-Medium.woff2') format('woff2'),
        url('fonts/Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eveleth Dot';
    src: url('fonts/EvelethDotBold.woff2') format('woff2'),
        url('fonts/EvelethDotBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brixton_Wood_PERSONAL_USE_ONLY Vector';
    src: url('fonts/Brixton_Wood_PERSONAL_USE_ONLY-Vector.woff2') format('woff2'),
        url('fonts/Brixton_Wood_PERSONAL_USE_ONLY-Vector.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



span.navbar-brand {
    cursor: pointer;
}